<h3> Exercises </h3>

<ol>
{% for exercise in page.exercises %}
  {% assign exercise_loop = forloop %}
  {% for otherpage in site.pages %}
    {% if exercise == otherpage.title
          and page.language == otherpage.language
          and otherpage.layout == 'exercise'
          and otherpage.translation != 'es' %}

      <li>
        <h4>
          <a href="{{ site.baseurl }}{{ otherpage.url }}">
            {% if page.points[exercise_loop.index0] == 'optional'
               or page.points[exercise_loop.index0] == 'Challenge - optional' %}
              <font color="000000">
                {{ otherpage.title | append: " (" }}{{ page.points[exercise_loop.index0] | append: ")" }}
              </font>
            {% elsif page.points[exercise_loop.index0] %}
              <font color="000000">
                {{ otherpage.title | append: " (" }}{{ page.points[exercise_loop.index0] | append: " pts)" }}
              </font>
            {% else %}
              <font color="000000">{{ otherpage.title }}</font>
            {% endif %}
          </a>
        </h4>

        {{ otherpage.content }}

        {%- comment -%}
        Build stable solutions prefix:
          otherpage.url: /learn-stata/exercises/01-basic-expressions/
          output_file:  /solutions/01-basic-expressions
        then:
          - try to find matching static file
          - if not found, fall back to direct .txt URL
        {%- endcomment -%}

        {% capture output_file %}
          {{ otherpage.url
             | remove_first: site.baseurl
             | remove: 'exercises'
             | remove: 'docs/templates'
             | remove: '/'
             | prepend: '/solutions/'
          }}
        {% endcapture %}

        {% assign output_url = nil %}

        {%- comment -%}Try to find actual static file path{%- endcomment -%}
        {% for solution in site.static_files %}
          {% if solution.path contains output_file %}
            {% assign output_url = solution.path | prepend: site.baseurl %}
          {% endif %}
        {% endfor %}

        {%- comment -%}Fallback if static file not discovered{%- endcomment -%}
        {% if output_url == nil %}
          {% assign output_url = site.baseurl | append: output_file | append: '.txt' %}
        {%
